## SO dependant files
.DS_Store

## Dependencies
node_modules/
static/bower_components

## Build & compilation files
dist/

## Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

## Test reports
test/unit/coverage
test/e2e/reports
selenium-debug.log

## IDE config files
.project
.settings
.idea/
